/*  
 cor-principal { color: #251D59; }
 cor-secundaria { color: #50459A; }
 cor-fundo { color: #ECE0D8; }
 cor-fonte { color: #1B1826; }

cor de fundo: #ECE0D8
cor de fonte: #1B1826
cor de destaque: #251D59
*/

/* estilização textual */

html {
    background-color: #ECE0D8;
    color: #1B1826;

    font-size: 16px;
    font-family: Verdana, sans-serif;
}

p {
    text-indent: 1em;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

.summary {
    text-align: center;
}

.main p {
    line-height: 1.5;
}

abbr {
    font-variant: small-caps;
}

/* box model */

.page-wrapper{
    width: 80%;
    max-width: 1280px;
    margin:auto;
}

#zen-intro {
    height: 550px;
}

#design-archives {
    display: none;
}

#zen-intro header {
    background-color: #1B1826;
    color: #ECE0D8;
}

#zen-intro header h1, #zen-intro header h2 {
    display: inline-block;
}

#zen-intro header h1 {
    margin-left: 1em;
    margin-right: 1em;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin: 1em;
    text-align: center;
}

.main footer {
    margin: 4%;
}

.main footer a {
    border: solid 2px #50459A;
    padding: 0.5em;
}

/* posicionamento*/

.page-wrapper {
    position: relative;
}

.explanation {
    width: 60%;
    margin-right: 35%;
    border-right: #1f295c 1px solid;
    padding-right: 2%;
}

#design-selection {
    position: absolute;
    top: 540px;
    left: 62%;
    padding: 0 1%;
    font-size: 14px;
}

/* flexbox */

.main footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.main footer a {
    display: flex;
    flex-basis: 50px;
    justify-content: center;
}

.benefits {
    display: flex;
    border-bottom: #1f295c 1px solid;
    border-top: #1f295c 1px solid;
}

.benefits p {
   flex-basis: 70%;
}

.benefits h3 {
    order: 2;
    align-self: center;
    flex-basis: 30%;
}

.participation {
    display: flex;
    flex-wrap: wrap;
    border-bottom: #1f295c 1px solid;
    border-top: #1f295c 1px solid;
}

.participation h3 {
    align-self: center;
    flex-basis: 50%;
}

.participation p {
    flex-basis: 50%;
}

.participation + .benefits {
    border-top: none;
}

/* pseudo classes */

a {
    color: #251D59;
    font-weight: 900;
}

a:hover {
    color: #50459A;
    font-weight: 900;
}

a:visited {
    color: #50459A;
    font-weight: 100;
}

.explanation p:first-of-type:first-letter  {
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
    line-height: 1;
}

#design-selection li {
    border-top: #1f295c solid 0.5px;
    padding-top: 2px;
}

.design-selection li:last-of-type {
    border-bottom: #1f295c solid 0.5px;
    padding-bottom: 10px;
}

@


