/*  
 cor-principal { color: #251D59; }
 cor-secundaria { color: #BF9075; }
 cor-fundo { color: #BFAE9F; }
 cor-fonte { color: #1B1826; }

cor de fundo: #BFAE9F
cor de fonte: #1B1826
cor de destaque: #251D59
*/

/* estilização textual */

html {
    background-color: #BFAE9F;
    color: #1B1826;

    font-size: 16px;
    font-family: Verdana;
}

p {
    text-indent: 1em;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.2rem;
}

.summary {
    text-align: center;
}

.main p {
    line-height: 1.5;
}

abbr {
    font-variant: small-caps;
}

/* box model */

.page-wrapper{
    width: 80%;
    max-width: 1280px;
    margin:auto;
}

#zen-intro {
    height: 550px;
}

#design-archives {
    display: none;
}

#zen-intro header {
    background-color: #1B1826;
    color: #BFAE9F;
}

#zen-intro header h1, #zen-intro header h2 {
    display: inline-block;
}

#zen-intro header h1 {
    margin-left: 1em;
    margin-right: 1em;
}

aside ul {
    list-style-type: none;
}

aside ul li {
    margin: 1em;
    text-align: center;
}

.main footer {
    margin: 4%;
}

.main footer a {
    background-color: #1B1826;
    color: #BFAE9F;
    border: solid 2px #251D59;
    padding: 0.5em;
}

/* posicionamento*/

.page-wrapper {
    position: relative;
}

.explanation {
    width: 60%;
    margin-right: 35%;
    border-right: #1f295c 1px solid;
    padding-right: 2%;
}

#design-selection {
    position: absolute;
    top: 560px;
    left: 62%;
    padding: 0 1%;
}

/* flexbox */


